<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">

    <link rel="stylesheet" href="${request.contextPath}/statics/css/laydate.css" id="layuicss-laydate">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("curriculum:inetclass:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("curriculum:inetclass:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("curriculum:inetclass:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">


            <div class="form-group">
                <div class="col-sm-2 control-label">年级</div>
                <div class="form-group col-sm-2">
                    <select @change="getClassNameList" class="form-control" id="gradeId"
                            v-model="inetClass.gradeNumber" :value="inetClass.gradeNumber">
                        <option value="">请选择年级</option>
                        <option  v-for="list in gradeList" :value="list">{{list}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">课堂名称</div>
                <div class="col-sm-2">
                    <select class="form-control"
                            v-model="inetClass.classNameId" :value="inetClass.classNameId">
                        <option value="">请选择名称</option>
                        <option v-for="list in classNameList" :value="list.id">{{list.name}}</option>
                    </select>
                </div>
            </div>
			<div class="form-group">
                        <div class="col-sm-2 control-label">开始时间</div>
                        <div class="col-sm-10">
                            <input id="startTimeInput" @focus="getStartTime" type="text" class="form-control" v-model="inetClass.startTime" placeholder="课堂开始时间"/>
                        </div>
             </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">持续时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="inetClass.continuousTime" placeholder="课堂持续时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">教室</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="教室" v-model="inetClass.classroom"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/curriculum/inetclass.js?_${.now?long}"></script>
<script src="${request.contextPath}/statics/js/laydate.js"></script>
</body>
</html>